<br>
<br>

<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h3 class="card-title">Customer Profile</h3>
  </div>

  <table class="table table-sm table-bordered">

    <tbody>
      <tr>
        <td>Customer ID :</td>
        <td>{{getCustId}}</td>
      </tr>

      <tr>
        <td>First Name :</td>
        <td>{{cfirstName}}</td>
      </tr>

      <tr>
        <td>Last Name :</td>
        <td>{{clastName}}</td>
      </tr>

      <tr>
        <td>Email ID : </td>
        <td>{{emailId}}</td>
      </tr>

      <tr>
        <td>Address :</td>
        <td>{{address}}</td>
      </tr>

      <tr>
        <td>City :</td>
        <td>{{city}}</td>
      </tr>

      <tr>
        <td>State :</td>
        <td>{{state}}</td>
      </tr>

      <tr>
        <td>Country : </td>
        <td>{{country}}</td>
      </tr>

      <tr>
        <td>zipcode : </td>
        <td>{{zipcode}}</td>
      </tr>


      <tr>
        <td>Birth Date :</td>
        <td>{{birthDate}}</td>
      </tr>

               
    </tbody>
  </table>
 
  <div class="card-footer">
    <button type="submit" name="editprofile" class="btn btn-primary btn-small btn-block" routerLink="/editprofile">Edit Profile</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ICIN Bank Online Wep-app
  </div>
</div>