<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="com.example.demo.AdminRegisterLogin"/>
       <class name="com.example.demo.CustomerCreation"/>
       <class name="com.example.demo.AccountCreation"/>
       <class name="com.example.demo.AccountDeposit"/>
       <class name="com.example.demo.AccountWithdraw"/>
       <class name="com.example.demo.AccountBalance"/>
       <class name="com.example.demo.AccountTransfer"/> 
       <class name="com.example.demo.ChequeRequest"/>
       <class name="com.example.demo.UserBlock"/> 
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
