<br>
<br>

<br>

<div class="container">
  <div class="row">
    <div class="col text-center py-5">

      <p class="lead">
        Welcome to Admin Portal !! <br>
        You are authorized to do below mentioned approval, </p>
      <ul class="listelem">
        <li>
          Customer
        </li>
        <li>
          Accounts
        </li>
        <li>
          Deposits and Withdrawals
        </li>
        <li>
          Funds Transfer
        </li>
        <li>
          Cheque Request
        </li>
        <li>
          Block Users
        </li>
      </ul>


    </div>
  </div>
</div>