

.container, .container-lg, .container-md, .container-sm {
    max-width: 70%;
    background-color: rgb(161, 202, 190);
     font-weight: lighter;
   
}
.lead {
    font-size: 1.1rem;
    font-weight: bolder;
    line-height: 2;
    color:black;
    text-align: left;
   }

  .listelem{
    text-align: left;
    color:black;
    line-height: 2;
   }

   