
<br>
<br>
<br>

<div class="container">
    <div class="row">
      <div class="col text-center py-5">
       
        <p class="lead">
          Welcome to Accounts Operation Page!!! <br>
          You can open different types of accounts available in our bank.
          <br>
          You can make use of below  available account services, </p>
         <ul class="listelem">
          <li >
            Open Accounts
          </li>
          <li>
            Account Deposits
          </li>
          <li>
            Account Withdrawal
          </li>
          <li>
            Check Account Balance 
          </li>
       </ul>
              
      </div>
    </div>
  </div>  